:root {
    --bg-color : #366298;
    --primary-color : #053C7F;
    --second-color : #031831;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

/*  Navbar  */

.navbar .navbar-nav a:hover {
    color: var(--bg-color);
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid var(--bg-color);
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.7);
    -webkit-transform: scaleX(0.7);
    -moz-transform: scaleX(0.7);
    -ms-transform: scaleX(0.7);
    -o-transform: scaleX(0.7);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'poppins', sans-serif;
}


.banner {
    height: 91vh;
    background: linear-gradient(rgb(0,0,0,0.3), rgb(0,0,0,0.3)), url('../../img/four-banner.jpg');
    background-size: cover;
    border-top: var(--bg-color) 1px solid;
}

.thumbnail h2 {
    font-weight: 900;
    color: rgb(198, 178, 23);
    -webkit-text-stroke: #eee 1px;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 60px;
}

.thumbnail h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	border-radius: 1px;
	background: #7ac400;
	left: 0;
	right: 0;
	bottom: -12px;
}

.thumbnail span{
    color: var(--primary-color);
    font-weight: 900;
    -webkit-text-stroke: #eee 1px;
}

.thumbnail h5 {
    margin-top: 50px;
    color: rgb(147, 146, 237);
}

.category h2 {
	color: #000;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 60px;
}

.category h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	border-radius: 1px;
	background: #7ac400;
	left: 0;
	right: 0;
	bottom: -12px;
}

.product {
    background: var(--bg-color);
}

.product h2 {
	color: #000;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 60px;
}
.product h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	border-radius: 1px;
	background: #7ac400;
	left: 0;
	right: 0;
	bottom: -12px;
}
.product .carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.product .carousel .item {
	color: #747d89;
	min-height: 325px;
	text-align: center;
	overflow: hidden;
}
.product .carousel .thumb-wrapper {
	padding: 25px 15px;
	background: #fff;
	border-radius: 6px;
	text-align: center;
	position: relative;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.product .carousel .item .img-box {
	height: 120px;
	margin-bottom: 20px;
	width: 100%;
	position: relative;
}
.product .carousel .item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.product .carousel .item h4 {
	font-size: 18px;
}
.product .carousel .item h4, .product .carousel .item p, .product .carousel .item ul {
	margin-bottom: 5px;
}
.product .carousel .thumb-content .btn {
	color: #7ac400;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	background: none;
	border: 1px solid #7ac400;
	padding: 6px 14px;
	margin-top: 5px;
	line-height: 16px;
	border-radius: 20px;
}
.product .carousel .thumb-content .btn:hover, .product .carousel .thumb-content .btn:focus {
	color: #fff;
	background: #7ac400;
	box-shadow: none;
}
.product .carousel .thumb-content .btn i {
	font-size: 14px;
	font-weight: bold;
	margin-left: 5px;
}
.product .carousel .item-price {
	font-size: 13px;
	padding: 2px 0;
}
.product .carousel .item-price strike {
	opacity: 0.7;
	margin-right: 5px;
}
.product .carousel-control-prev, .product .carousel-control-next {
	height: 44px;
	width: 40px;
	background: #7ac400;	
	margin: auto 0;
	border-radius: 4px;
	opacity: 0.8;
}
.product .carousel-control-prev:hover, .product .carousel-control-next:hover {
	background: #78bf00;
	opacity: 1;
}
.product .carousel-control-prev i, .product .carousel-control-next i {
	font-size: 36px;
	position: absolute;
	top: 50%;
	display: inline-block;
	margin: -19px 0 0 0;
	z-index: 5;
	left: 0;
	right: 0;
	color: #fff;
	text-shadow: none;
	font-weight: bold;
}
.product .carousel-control-prev i {
	margin-left: -2px;
}
.product .carousel-control-next i {
	margin-right: -4px;
}		
.product .carousel-indicators {
	bottom: -50px;
}
.product .carousel-indicators li, .product .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border: none;
}
.product .carousel-indicators li {	
	background: rgba(0, 0, 0, 0.2);
}
.product .carousel-indicators li.active {	
	background: rgba(0, 0, 0, 0.6);
}
.product .carousel .wish-icon {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 99;
	cursor: pointer;
	font-size: 16px;
	color: #abb0b8;
}
.product .carousel .wish-icon .fa-heart {
	color: #ff6161;
}
.product .star-rating li {
	padding: 0;
}
.product .star-rating i {
	font-size: 14px;
	color: #ffc000;
}

.about h2 {
	color: #000;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 60px;
}

.about h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	border-radius: 1px;
	background: #7ac400;
	left: 0;
	right: 0;
	bottom: -20px;
}


@media (max-width: 768px) {
    html {
        font-size: 65.5%;
    }

    .thumbnail {
        position: relative;
    }
}

